stages:
  - build
  - test
  - package
  - smoketest
  - scan
  - deliver

variables: 
  DOCKER_HOST: "unix:///runner/services/docker/docker.sock"

image: docker:24

services:
  - docker:dind

# Build the Java server
build:
  stage: build
  image: amazoncorretto:21-alpine3.18-jdk
  services: []
  script:
    - echo "Building Java server"
    - mkdir -p build
    # Compile Java code with JSON library
    - javac -cp "lib/json.jar" -d build Server.java
  artifacts:
    paths:
      - build/
    expire_in: 1 week

# Run tests for Java server
test:
  stage: test
  image: amazoncorretto:21-alpine3.18-jdk
  services: []
  script:
    - echo "Running tests"
    
     # Install curl for testing and start the server
    - apk add --no-cache curl
    - java -cp build:lib/json.jar Server &

    - SERVER_PID=$!
    - sleep 5
    
    # Add permission to exec and run test script
    - chmod +x scripts/test.sh
    - ./scripts/test.sh
    
    - kill $SERVER_PID
  artifacts:
    paths:
      - test-report.txt
    when: always
    expire_in: 1 week

# Package the Java server into a Docker image
package:
  stage: package
  script:
    - echo "Packaging Docker image"
    
    # Build and save the Docker image as file
    - docker build -t java-server .
    - docker save java-server | gzip > java-server.tar.gz
  artifacts:
    paths:
      - java-server.tar.gz
    expire_in: 1 week

# Run smoketest to confirm correct startup
smoketest:
  stage: smoketest
  services:
    - docker:dind
  script:
    - apk add --no-cache docker curl
    
    # Add permission to exec and run smoketest script
    - chmod +x scripts/smoketest.sh
    - ./scripts/smoketest.sh
  artifacts:
    paths:
      - smoketest-report.txt
    when: always
    expire_in: 1 week

# Trivy scan for Docker image
scan:
  stage: scan
  allow_failure: true # Push to Harbor even if scan fails. Not good in an actual production pipeline
  script:
    - echo "Scanning Docker image"
    - apk add --no-cache curl
    
    # Install Trivy
    - curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh -s -- -b /usr/local/bin v0.66.0
    
    # Load the Docker image and scan it with Trivy
    - gunzip -c java-server.tar.gz | docker load
    - trivy image --severity HIGH,CRITICAL --exit-code 1 --format json -o trivy-report.json java-server
  artifacts:
    paths:
      - trivy-report.json
    when: always
    expire_in: 1 week

# Deliver the Docker image to Harbor registry
deliver:
  stage: deliver
  rules:
    - if: '$CI_COMMIT_BRANCH == "deliver"'
  script:
    - echo "Pushing Docker image to Harbor"
      
      # Login, load the Docker image, tag and push to Harbor
    - echo "$HARBOR_PASSWORD" | docker login harbor.treok.eu -u httusa --password-stdin
    - gunzip -c java-server.tar.gz | docker load
    - docker tag java-server harbor.treok.eu/devops_exercise2_httusa/java-server:latest
    - docker push harbor.treok.eu/devops_exercise2_httusa/java-server:latest
