stages:
  - build
  - deploy
  - clean

variables: 
  DOCKER_HOST: "unix:///runner/services/docker/docker.sock"
  SSH_PRIVATE_KEY: "$SSH_PRIVATE_KEY"
  ANSIBLE_HOST_KEY_CHECKING: "False"
  TARGET_HOST: "$TARGET_HOST"
  TARGET_USER: "$TARGET_USER"

image: docker:24

services:
  - docker:24-dind

before_script:
  - apk add --no-cache python3 py3-pip ansible openssh-client

  # SSH setup
  - mkdir -p ~/.ssh
  - echo "$SSH_PRIVATE_KEY" | base64 -d > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - ssh-keyscan -H $TARGET_HOST >> ~/.ssh/known_hosts

# Remove Docker images after job
after_script:
  - echo "Removing created images..."
  - docker system prune -f || true

# Build job to build Docker images
build:
  stage: build
  script:
    - echo "Logging in to Harbor..."
    - echo "$HARBOR_PASSWORD" | docker login harbor.treok.eu -u httusa --password-stdin
    
    - echo "Building..."
    - docker build -t harbor.treok.eu/devops_exercise3_httusa/service1:latest ./service1
    - docker build -t harbor.treok.eu/devops_exercise3_httusa/service2:latest ./service2
    - docker build -t harbor.treok.eu/devops_exercise3_httusa/storage:latest ./storage

    - echo "Pushing images to Harbor..."
    - docker push harbor.treok.eu/devops_exercise3_httusa/service1:latest
    - docker push harbor.treok.eu/devops_exercise3_httusa/service2:latest
    - docker push harbor.treok.eu/devops_exercise3_httusa/storage:latest
  
  rules:
    - if: '$CI_COMMIT_TAG == "deploy"'

# Deploy job to deploy application
deploy:
  stage: deploy
  script:
    - echo "Deploying..."
    - ansible-playbook -i "$TARGET_HOST," deploy.yml -u $TARGET_USER
  rules:
    - if: '$CI_COMMIT_TAG == "deploy"'

# Clean job to delete log data
clean:
  stage: clean
  script:
    - echo "Cleaning..."
    - ansible-playbook -i "$TARGET_HOST," clean.yml -u $TARGET_USER
  rules:
    - if: '$CI_COMMIT_TAG == "clean"'
